<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-12 mt-0 col-lg-8 mt-5 text-center">
      <div class="content">
        Domina tu tiempo y desata tu <br />productividad con Alarmas Pomodoro
        App
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="boton1 d-flex align-items-center justify-content-center">
      <div class="col-md-4 mt-0 col-lg-3 mt-5 text-center">
        <button class="button1" (click)="goToLogin()">Iniciar Sesión</button>
      </div>
    </div>
  </div>
</div>
